* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: hsl(210, 46%, 95%);
}

.container {
  margin-left: 23%;
  margin-right: 0%;
  margin-top: 13%;
  position: relative;
}

.row {
  margin-top: 5%;
  width: 80%;
}

.col1 {
  padding: 0%;
}

.row3 {
  margin-top: 0;
  padding-left: 4%;
}

.col2 {
  border-radius: 0 3% 3% 0;
  background-color: white;
  padding: 3%;
  height: 50%;
}

.img1 {
  border-radius: 3% 0 0 3%;
  width: 100%;
  height: 100%;
}

.img2 {
  border-radius: 50%;
  width: 160%;
  height: 90%;
}

.s-img {
  height: auto;
  padding-top: 75%;
}

.coll {
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  margin: 0%;
  cursor: pointer;
}

.coll:hover {
  background-color: hsl(212, 23%, 69%);
}

.coll .s-img:hover {
  transition: 0.3s;
  background-color: hsl(212, 23%, 69%);
}

.coll .s-img:hover path {
  transition: 0.1s;
  fill: white;
}

.clicked {
  background-color: hsl(212, 23%, 69%);
}
.clicked path {
  fill: white;
}

p {
  font-size: 90.8%;
}

.p1,
.p2 {
  padding-left: 4%;
}

.p1 {
  color: hsl(217, 19%, 35%);
  font-size: 120%;
  font-weight: 700;
  margin-bottom: 3%;
}

.p2 {
  color: hsl(214, 17%, 51%);
  font-size: 70%;
}

.p3,
.p4 {
  margin: 0;
  padding: 0%;
  font-size: 70%;
}

.p3 {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

.p4 {
  color: hsl(214, 17%, 51%);
}

ul {
  padding: 0%;
  padding-top: 5%;
  list-style: none;
}
li {
  display: inline;
  padding-left: 8%;
}

.share {
  display: none;
  border-radius: 8px;
  width: 17%;
  position: absolute;
  margin-left: 39%;
  margin-top: 11%;
  background-color: hsl(217, 19%, 35%);
  color: hsl(210, 46%, 95%);
}
